<div id="map">
    <ul>
        <li><%= link_to "all", account_path %></li>
        <% @tags.each do |tag| %>
            <li><%= link_to tag.name, search_tag_path(tag) %></li>
        <% end %>
    </ul>
</div>
<div id="main">
    <h3>Tag: <%= @selected_tag.name %></h3>
    <table>
        <tr>
            <td>Title</td>
            <td>Image</td>
        </tr>
        <% @uploads.each do |img| %>
        <tr>
            <td><%= img.name %></td>
            <td><%= link_to image_tag(img.file.thumb.url), image_path(img) %></td>
        </tr>
    <% end %>
</div>


